.bg {
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
    min-height: 100vh;
}

.comment-bg {
    background-color: #2CB2BC;
}
.blue-text{
    color: #2CB2BC;
}

.blue-low-opacty {
    background: rgba(0, 156, 203, 0.05);
}

#header-logo {
    width: 20vh;
}

nav {
    background-color: #242021;
    z-index: 100;
}
.navbar{
    position: sticky;
    top: 0%;
}

body {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    font-family: 'Ubuntu';
}
.button-css{
    background-color: rgba(44, 178, 188, 1);
    color: white;
    font-weight: bolder;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.5), 0px -5px 35px rgba(255,255,255,0.3);
    /*border: 0.5px #c63702 solid;*/
    /*box-shadow: 0px 1px 5px 0px rgba(198,55,2,0.75);*/
}
.button-css:hover{
    background-color: rgba(44, 178, 188, 1);
    /*border: 0.5px #c63702 solid;*/
    box-shadow:0px 0px 5px 1px rgba(198,55,2,0.75);
}
.commertial {
    font-size: 40px;
    color: red;
    background-image: url("http://194.5.157.99/laravel/projectlaravel/public/images/sideAd.png");
    background-size: cover;
    box-sizing: border-box;
    padding-top: 20px;
    height: 90vh;
    width: 15%;
    border: solid 1px #2980b9;
    position: sticky;
    text-align: center;
    top: 10%;
    margin-left: -5%;
}
.commertial.smaller {
    top: 12%;
    height: 82vh;
}
.search-title{
    padding-top: 20px;
}
.inside-search-block-wrapper{
    padding-top: 10px;
    height: 225px;
    width: 650px;
    margin: 0 auto;
}
#search-block{
    color: #242021;
    width: 100%;
    text-align: center;
    background-color: rgba(44, 178, 188, 0.9);
    margin-top: 20px;
    display: none;
}
.search-block{
    width: 80%;
    margin: 0 auto;
}
.main-search-key{
    display: flex;
    width: 650px;
    height: 180px;
    margin: 0 auto;
    padding: 5px 10px;
}
.main-search-key-half{
    padding: 10px 5px;
    width: 50%;
}
.dual-search-input-wrapper{
    padding: 10px 5px;
    display: flex;
}
.small-input-wrapper{
    padding: 10px 5px;
    display: inline;
    width: 100%;
}
.large-input{
    width: 94%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
.large-input-category{
    width: 92.5%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
.small-input{
    display: inline;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}

car-card{
    z-index: -1;
}

.top-ad{
    width: 100%;
    height: 15vh;
    background-image: url("http://194.5.157.99/laravel/projectlaravel/public/images/topAd.png");
    background-size: cover;

}

.row {
    padding-top: 25px;
    text-overflow: clip;
}


.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    /*background: linear-gradient(to bottom, #2cbcb2, #242021);*/
    background: #242021;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}
.blackBackroung{
    background: #242021;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
}

.card-title a {
    color: #fff;
    text-decoration: none !important;
}

.card-read-more a {
    text-decoration: none !important;
    font-weight: 600;
    text-transform: uppercase
}
.text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-3d {
    width: 50px;
    font-size: 18px;
    height: 25px;
    position: relative;
    display: inline-block;
    padding: 20px 60px;
    color: white;
    margin: 15px 0px 25px 0px;
    border-radius: 20px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.red:hover    {background-color: #e74c3c;}

.btn-3d:active {
    top: 9px;
}

/* 3D button colors */
.btn-3d.red {
    background-color: #e74c3c;
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 #C24032,
    0 8px 0 1px rgba(0,0,0,0.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}


