.bg {
       background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
    min-height: 100vh;
}
.comment-bg{
    background: linear-gradient(to right, #6190e8, #a7bfe8);
}
.blue-low-opacty{
   background: rgba(0,156,203, 0.05);
}
.commertial{
    font-size: 40px;
    color: red;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/be02a4e3-e357-4bde-b048-3a8a59e11d49/d55auet-de3b28b9-7cc1-41e5-ad4a-1fff664c68ea.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2JlMDJhNGUzLWUzNTctNGJkZS1iMDQ4LTNhOGE1OWUxMWQ0OVwvZDU1YXVldC1kZTNiMjhiOS03Y2MxLTQxZTUtYWQ0YS0xZmZmNjY0YzY4ZWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cnhRcHcLENrQVBEBfG_jHW1wZsf3nCmmF4Y64JLR-uA");
    background-size: cover;
    padding-top: 20px;
    height: 90vh;
    width: 15%;
    border: solid 1px #2980b9;
    position: sticky;
    text-align: center;
    top: 5%;
}
.row{
    padding-top:25px;
    text-overflow: clip;
}


card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
}
.card-content {
    padding:15px;
    text-align:left;
}
.card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
}
.card-title a {
    color: #000;
    text-decoration: none !important;
}
.card-read-more {
    border-top: 1px solid #D4D4D4;
}
.card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
}

